<section class="section-padding">
  <div class="row">

    <div class="col s6 offset-s3">
      <h2 class="header text-center">Compra realizada com sucesso!</h2>
      <div class="card checkout-card">
        <p>
          Graças a você demos um passo a mais rumo ao nosso objetivo. Agradecemos de
          coração por tudo o que tem feito pela comunidade.
        </p>
      </div>
    </div>
  </div>
</section>
