<footer class="page-footer center-on-small-only">
  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-md-3 offset-lg-1 hidden-lg-down">
        <h5 class="title">Arsenal da Esperança</h5>

        <p>
          Há 19 anos, a porta do Arsenal da Esperança abre diariamente para 1.200 homens que se encontram em dificuldades, o assim chamado “povo em situação de rua”, jovens e adultos que sofrem pela falta de trabalho, casa, alimentação, saúde e família.
        </p>
      </div>
      <!--/.First column-->
      <hr class="hidden-md-up">
      <!--Second column-->
      <div class="col-lg-2 col-md-4 offset-lg-1">
      </div>
      <!--/.Second column-->
      <hr class="hidden-md-up">
      <!--Third column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Saiba mais</h5>
        <ul>
          <li><a href="https://www.facebook.com/arsenaldaesperanca">Facebook</a></li>
          <li><a href="http://arsenalesperanca.blogspot.com.br/">Sermig</a></li>
          <li><a href="http://spcultura.prefeitura.sp.gov.br/espaco/750/">SP Cultura</a></li>
          <li><a href="http://www.guiadasemana.com.br/sao-paulo/arte/estabelecimento/arsenal-da-esperanca">Guia da Semana</a></li>
          <li><a href="https://www.youtube.com/watch?v=EK_OqnXg71U">Vídeo</a></li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="hidden-md-up">
      <!--Fourth column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Fale conosco</h5>
        <ul>
          <li><a href="https://www.facebook.com/arsenaldaesperanca">Facebook</a></li>
          <li><a href="mailto:arsenaldaesperanca@sermig.org.br">Email</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer Links-->
  <hr>
</footer>
