<div class="col-lg-4">
  <% if @campaigns %>
    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
      <h4>Campanhas ativas:</h4>
      <br>
      <div class="list-group">
        <% @campaigns.each do |campaign| %>
          <%= link_to campaign.name, landing_page_path(campaign), class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
    <div class="card">
      <div class="card-block">
        <p><strong>Contato</strong></p>
        <p>Saiba mais sobre o Arsenal da Esperança. Entre em contato conosco.</p>
        <div class="md-form">
          <i class="fa fa-facebook-square prefix" aria-hidden="true"></i>
          <input type="text" id="facebook" class="form-control" readonly value="https://www.facebook.com/arsenaldaesperanca">
        </div>
        <div class="md-form">
          <i class="fa fa-phone-square prefix"></i>
          <input type="text" id="phone" class="form-control" readonly value="(11) 2292-0977">
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="email" class="form-control" readonly value="arsenaldaesperanca@sermig.org.br">
        </div>
      </div>
    </div>
  </div>
</div>
