<div class="col s12 m12 l6">
  <div class="card-panel">
    <h4 class="header2"><i class="fa fa-pencil"></i> Edição de campanha</h4>
    <%= render 'form', campaign: @campaign %>
    <%= link_to 'Voltar', admin_campaigns_path %>
  </div>
</div>
