<div class="row checkout-action">
  <div class="col s12 l6">
    <%= render 'user_identity' %>
  </div>
  <div class="col s12 l6">
    <%= render 'checkout_info', shopping_cart: shopping_cart, campaign: campaign %>
  </div>
</div>
