<h2 class="header">Quer se identificar?</h2>
<div class="card horizontal">
  <div class="card-stacked">
    <span class="user-identity-description">
      Não é obrigatório, mas gostaríamos de colocar seu nome nos agradecimentos.
    </span>
    <div class="card-action">
      <div class="input-field col s6">
        <input id="name" type="text" name="name">
        <label for="name">Nome</label>
      </div>

      <div class="input-field col s6">
        <input id="email" type="email" name="email">
        <label for="email">Email</label>
      </div>

      <div class="input-field col s12">
        <textarea id="comments" class="materialize-textarea" name="comments"></textarea>
        <label for="comments">Deixe uma mensagem para nós</label>
      </div>
    </div>
  </div>
</div>
