<!-- timeline taken from here: https://www.templatemonster.com/blog/tutorial-build-vertical-timeline-archives-page-using-bootstrap/ -->

<section class="content-promo-box banner padding-top-100 padding-bottom-120 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-30 text-extrabold mb-30 text-uppercase">Fraternidade da Esperança</h2>

        <p>O SERMIG – Servizio Missionario Giovani – nasce em Turim (Itália) em 1964, fundado por Ernesto Olivero e sua esposa Maria Cerrato para concretizar um sonho: derrotar a fome e as injustiças sociais no mundo, promover ações de justiça e de desenvolvimento, viver a solidariedade para com os mais pobres e dar uma especial atenção aos jovens, procurando com eles a paz. </p>

        <p>
          Após os primeiros anos vivenciados como grupo missionário, dentro do SERMIG nasce a FRATERNIDADE DA ESPERANÇA: consagrados, consagradas, casais e jovens que se dedicam ao serviço dos pobres e dos jovens, com o desejo de viver o Evangelho e de ser sinal de esperança.
          O SERMIG sempre levou apoio para as populações afetadas por desastres naturais e pelo subdesenvolvimento, realizando 3.050 projetos de desenvolvimento em 92 países do mundo e promovendo mais de 77 ações de paz em países em guerra, como Líbano, Moçambique, Ruanda, Somália, Iraque, ex-Iugoslávia, etc.
        </p>

        <p>O SERMIG vive graças a ajuda de milhares de amigos e voluntários. O método é o de experimentar em primeira pessoa a solidariedade com quem precisa para oferecer respostas concretas. Para a arrecadação dos recursos, o SERMIG aposta nas pessoas comuns (que fornecem 93% de seu sustento), envolvendo-as em um novo estilo de vida: a "Restituição", isto é, dar o melhor de si (competências, recursos, tempo, ideias...) a serviço do bem comum e dos mais pobres. </p>

        <div id="map-trigger"></div>

        <ul class="timeline">
          <li><div class="tldate">A nossa história...</div></li>

          <li>
           <div class="tl-circ"></div>
           <div class="timeline-panel">
             <div class="tl-heading">
               <h4>Arsenal da Paz</h4>
               <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1983</small></p>
             </div>
             <div class="tl-body">
               <p>A Fraternidade da Esperança começa a morar no antigo arsenal militar de Turim – ex-fábrica de armas transformada, com a ajuda de milhares de jovens e de pessoas de boa vontade, em uma casa a serviço da paz, em um lugar de oração, de trabalho e de acolhida dos jovens e dos mais necessitados, hoje chamado de ARSENAL DA PAZ.</p>
             </div>
           </div>
          </li>

          <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
              <div class="tl-heading">
                <h4>Arsenal da Esperança</h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i>1996</small></p>
              </div>
              <div class="tl-body">
                Nasce em São Paulo o ARSENAL DA ESPERANÇA. Localizado nas instalações da antiga Hospedaria dos Imigrantes – que do final do século XIX até os anos 1970 recebeu milhões de imigrantes do mundo todo – o Arsenal da Esperança é hoje uma casa que acolhe 1.200 pessoas em dificuldade, o chamado "povo em situação de rua", em busca de novas oportunidades de trabalho e de vida.
              </div>
            </div>
          </li>

          <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
              <div class="tl-heading">
                <h4>Arsenal do Encontro</h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2006</small></p>
              </div>
              <div class="tl-body">
                Nasce em Madaba (Jordânia) o ARSENAL DO ENCONTRO, que oferece assistência médica, oportunidades de estudo e apoio à família a cerca de 200 crianças e jovens muçulmanos e cristãos com deficiência física e mental, através de uma rede de solidariedade e trabalho voluntário.
              </div>
            </div>
          </li>

          <li><div class="tldate">2014</div></li>

          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="tl-heading">
                <h4>Arsenal da Acolhida</h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2014</small></p>
              </div>
              <div class="tl-body">
                Nasce em Borghetto Lodigiano (também na Itália) o ARSENAL DA ACOLHIDA, um grupo de famílias que decidiu viver a acolhida como estilo de vida e a partilha como palavra de ordem, ajudando a acolher e a buscar respostas para qualquer pessoa que bata às suas portas, sobretudo para as crianças.
              </div>
            </div>
          </li>

          <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
              <div class="tl-heading">
                <h4>50 anos</h4>
                <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2014</small></p>
              </div>
              <div class="tl-body">
                O SERMIG completou 50 anos e continua a trabalhar para que todas as pessoas redescubram o sentido de sua vida e de um compromisso simples e autêntico, mas capaz de mudar o mundo.
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
