.select-date {
  display: inline;
  width: 100px;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: $secondary-color-light-opacity;
}

.card-panel {
  a {
    color: $main-color-normal;
  }

  h4 {
    color: $main-color-dark;
  }
}

.save-button,
.save-campaign {
  background-color: $secondary-color-light;
  color: $main-color-dark;

  &:hover {
    background-color: $secondary-color-light-opacity;
  }
}

.item__image-thumbnail {
  max-width: 60px;
}

.product-card .card .btn-price {
  font-size: 0.7rem !important;
}

.items-list {
  margin-top: 20px;
}

.campaign-type {
  display: block;
}
