#login-content {
  border: 1px solid #ccc;
  padding: 25px;

  h2 {
    display: none;
  }

  a {
    color: $main-color-normal;
  }

  .actions {
    text-align: right;
  }
}

#new_user {
  margin-bottom: 10px;
}

.devise-collection li {
  background-color: $secondary-color-light-opacity;
}
