.side-nav {
  width: 240px;
}

.user-details,
ul.side-nav.leftside-navigation li.user-details:hover {
  background-color: $main-color-stress !important;
}

#slide-out i {
  color: $main-color-light;
}

ul.side-nav.leftside-navigation li.active {
  background-color: $secondary-color-light-opacity !important;
}
