<section class="content-promo-box banner padding-top-100 padding-bottom-80 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-30 text-extrabold mb-30 text-uppercase">Quem somos?</h2>

        <p>
          O Arsenal da Esperança é uma “CASA QUE ACOLHE”, fundada em São Paulo, em 1996, por iniciativa de Ernesto Olivero e Dom Luciano Pedro Mendes de Almeida.
          Localizado nas instalações da antiga Hospedaria dos Imigrantes, o Arsenal é habitado pela FRATERNIDADE DA ESPERANÇA, a comunidade de casais e consagrados fundada em 1964, na Itália, pelo próprio Ernesto Olivero e por sua esposa Maria.
        </p>

        <p>
          Há 19 anos, a porta do Arsenal da Esperança abre diariamente para 1.200 homens que se encontram em dificuldades, o assim chamado “povo em situação de rua”, jovens e adultos que sofrem pela falta de trabalho, casa, alimentação, saúde e família.
          Quem ingressa nessa casa encontra um lugar limpo e acolhedor onde descansar, tomar banho, se alimentar e frequentar cursos profissionalizantes, além de usufruir de muitos outros serviços, como o acompanhamento do serviço social, a lavanderia, o centro médico, a alfabetização, a biblioteca, o atendimento jurídico, a quadra de futebol, a sala de jogos, os grupos de apoio...
        </p>

        <p>Cada um pode encontrar o seu próprio espaço, os seus direitos e deveres e, sobretudo, a possibilidade de fazer o bem e de procurar o sentido da vida. Muitos que foram acolhidos no tempo da fragilidade, da dor, da doença recuperaram a esperança, reconstruíram relações familiares, encontraram um trabalho ou estão buscando novos caminhos. </p>

        <p>Nos 19 anos de funcionamento ininterrupto o Arsenal da Esperança hospedou mais de 50.000 pessoas, acumulando, entre outros dados, mais de 5 milhões de atendimentos e 20 milhões de refeições produzidas e fornecidas. </p>

        <p>
          Esta caminhada tem sido possível também graças à confiança do Governo do Estado de São Paulo e da Prefeitura do Município de São Paulo.
          A oração e a espiritualidade vividos pela FRATERNIDADE DA ESPERANÇA inspiram e abraçam todo esse trabalho e fazem do Arsenal um “mosteiro metropolitano”, um lugar de encontro e colaboração com a sociedade civil, com o mundo do voluntariado e sobretudo com os jovens, que encontram nessa casa uma oportunidade para dialogar e crescer, sendo promotores de ações de paz, justiça e solidariedade.
        </p>
      </div>
    </div>
  </div>
</section>

<%= render 'timeline' %>
<%= render 'map' %>
