<section class="section-padding item-row">
  <div class="container">
    <div class="text-center mb-80">
      <h2 class="section-title text-uppercase"><%= campaign.name %></h2>
      <p class="section-sub text-left"><%= html_description(campaign) %></p>
      <div id="goal-progress" data-target="<%= campaign.target %>" data-current-amount="<%= campaign.current_amount %>">
      </div>
    </div>

    <ul class="featured plus-box grid-3 equal-height-row">
      <% campaign.items.each do |item| %>
        <li>
          <div class="featured-item equal-height-column">
            <div class="icon">
              <i class="material-icons"></i>
            </div>
            <div class="desc">
              <h2>Fully Responsive</h2>
              <p>Porttitor communicate pandemic data rather than enabled niche markets neque pulvinar vitae than enabled niche.</p>
              <div style="position: relative" class="thermomether-container">
                <!-- <span class="thermometer">20&deg;C</span> -->
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
