<div class="row">
  <%= render 'description', campaign: @campaign %>
  <%= render 'campaign_fields', campaign: @campaign %>
</div>

<%= render 'items', campaign: @campaign %>
<%= render 'orders', campaign: @campaign %>
