$main-color: #522B72;
$main-color-light: #9376AC;
$main-color-dark: #210439;
$main-color-stress: #371356;
$main-color-normal: #704C8F;

$secondary-color: #AAA539;
$secondary-color-light: #FFFBAA;
$secondary-color-light-opacity: rgba(255, 251, 170, 0.4);
$secondary-color-dark: #555100;
$secondary-color-stress: #807B15;
$secondary-color-normal: #D4D06A;

$landing-primary: #03a9f4;
